<section>
    <h2>{{titulo}}</h2>
    <ul class="skills-list">
        <li *ngFor="let portafolio of portafolios">
            <strong>{{portafolio.habilidad}} {{portafolio.nivel}}</strong>{{portafolio.descripcion}}
        </li>
    </ul>
</section>

<section>
    <h2>Experiencia</h2>
    <p>
        Aunque aún no tengo experiencia laboral formal en el campo de la programación, he adquirido los conocimientos necesarios para trabajar en proyectos de desarrollo web y aplicaciones. Estoy comprometido a aprender y crecer en un entorno profesional, y busco oportunidades para aplicar mis habilidades y desarrollar nuevas competencias.
    </p>
</section>
