<h2>Mi Horario Semanal</h2>
<table class="schedule-table">
    <thead>
        <tr>
            <th>Hora</th>
            <th>Lunes</th>
            <th>Martes</th>
            <th>Miércoles</th>
            <th>Jueves</th>
            <th>Viernes</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>7:00 AM - 9:00 AM</td>
            <td>Libre</td>
            <td>Libre</td>
            <td>Libre</td>
            <td>Libre</td>
            <td>Libre</td>
        </tr>
        <tr>
            <td>9:00 AM - 11:00 AM</td>
            <td>Libre</td>
            <td>Libre</td>
            <td>Libre</td>
            <td>Libre</td>
            <td>IIAD53 - PROGRAMACIÓN WEB</td>
        </tr>
        <tr>
            <td>11:00 AM - 1:00 PM</td>
            <td>IIAD53 - PROGRAMACIÓN WEB</td>
            <td>IIAD54 - SISTEMAS DIGITALES</td>
            <td>IIAD53 - PROGRAMACIÓN WEB</td>
            <td>IIAD54 - SISTEMAS DIGITALES</td>
            <td>Libre</td>
        </tr>
        <tr>
            <td>1:00 PM - 2:00 PM</td>
            <td>Descanso</td>
            <td>Descanso</td>
            <td>Descanso</td>
            <td>Descanso</td>
            <td>Descanso</td>
        </tr>
        <tr>
            <td>2:00 PM - 4:00 PM</td>
            <td>IIAD66 - REDES DE COMPUTADORAS II</td>
            <td>Libre</td>
            <td>IIAD65 - COMPUTACIÓN GRÁFICA</td>
            <td>IIAD65 - COMPUTACIÓN GRÁFICA</td>
            <td>Libre</td>
        </tr>
        <tr>
            <td>4:00 PM - 6:00 PM</td>
            <td>Libre</td>
            <td>IIAD65 - COMPUTACIÓN GRÁFICA</td>
            <td>Libre</td>
            <td>IIAD66 - REDES DE COMPUTADORES II</td>
            <td>Libre</td>
        </tr>
        <tr>
            <td>6:00 PM - 8:00 PM</td>
            <td>IIAD61 - GESTIÓN DE EMPRESAS TECNOLÓGICAS</td>
            <td>IIAD62 - ANÁLISIS Y DISEÑO DE SISTEMAS</td>
            <td>IIAD61 - GESTIÓN DE EMPRESAS TECNOLÓGICAS</td>
            <td>IIAD62 - ANÁLISIS Y DISEÑO DE SISTEMAS</td>
            <td>IIAD62 - ANÁLISIS Y DISEÑO DE SISTEMAS</td>
        </tr>
    </tbody>
</table>
