<h1>{{nombre}}</h1>
<img src="perfil.jpg" alt="Foto de {{nombre}}" class="profile-pic">
<h1>Reseña sobre mí:</h1>
<p>
  Soy una persona apasionada por el fútbol y la tecnología, dos mundos que me permiten mantener un equilibrio entre el deporte y el aprendizaje. Actualmente, estoy cursando el 6to ciclo de Ingeniería de Sistemas en Andahuaylas, aunque mi corazón siempre está en mi pueblo natal, Kaquiabamba, un lugar rural lleno de tranquilidad. Tengo una hermana de 9 años, y mis padres siempre han estado ahí para apoyarme, lo que me da la motivación y el impulso que necesito para seguir adelante en mi camino.
</p>
<p>
  Mi gran meta es convertirme en un excelente programador. Aunque reconozco que a veces soy un poco indisciplinado y me cuesta mantener un ritmo constante, sigo esforzándome, sabiendo que con dedicación puedo lograrlo. El fútbol es una parte vital de mi vida y, aunque estoy lesionado en este momento, sigo jugando porque es una pasión que no puedo dejar de lado. A través de este deporte, encuentro la energía para enfrentar los retos diarios. Estoy convencido de que, con esfuerzo, el apoyo de mi familia y mi amor por lo que hago, alcanzaré mis metas y me convertiré en un programador exitoso.
</p>
